{% extends 'base.html' %}

{% block title %} About EcoGuide {% endblock %}

{% block content %}
<section class="container mt-5">
    <h1 class="mb-4">About EcoGuide</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">EcoGuide is a web application that helps users calculate their carbon footprint and find eco-friendly products and services.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Our mission is to help users make more sustainable choices by providing them with information about the environmental impact of the products and services they use.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We believe that by making more sustainable choices, we can all help protect the environment and create a better future for our planet.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We hope that EcoGuide will inspire you to make more sustainable choices and help you live a more eco-friendly lifestyle.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Thank you for using EcoGuide!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}