{% extends 'base.html' %}
{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<!-- Start: Hero Section -->
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div style="max-width: 350px;">
                    <h1 class="display-6 text-capitalize fw-bold" data-aos="zoom-in-up" data-aos-delay="100">Eco<span style="color: rgb(40, 167, 69);">Guide</span>&nbsp;- Your Personalized Path to Sustainable Living</h1>
                    <p class="fs-5 my-3" data-aos="fade-up" data-aos-delay="150">Empower your life with eco-friendly choices. Join us in making a difference, one small step at a time.</p>
                    <a class="btn btn-outline-primary btn-lg border rounded-pill me-2" role="button" data-bss-hover-animate="pulse" href="#">Get Started</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" data-aos="fade-up" data-aos-delay="200" style="min-height: 300px;" src="{{ url_for('static', filename='assets/img/carbon-footprint.png') }}"></div>
            </div>
        </div>
    </div><!-- End: Hero Section -->
    <!-- Start: Features: 2 Rows 1+3 Columns -->
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center" style="background: url({{ url_for('static', filename='assets/img/nature-product.png') }}) top / cover;">
                <h2 class="display-1 fw-bold text-secondary" data-aos="zoom-in" data-aos-delay="100">Why Choose EcoGuide?</h2>
                <p class="fs-5 text-success-emphasis" data-aos="fade-up" data-aos-delay="150">Your personal assistant for sustainable living</p>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-4 my-2" data-aos="fade-up" data-aos-delay="100">
                <div class="card text-center m-1 rounded-5 py-sm-4">
                    <div class="card-body"><img class="pt-2 w-50" src="{{ url_for('static', filename='assets/img/eco.png') }}">
                        <h4 class="card-title">Eco Footprinting</h4>
                        <h6 class="text-muted card-subtitle mb-2">Calculator</h6>
                        <p class="card-text">Track&nbsp; and monitor your Carbon Footprint. Calculate the impact of your actions, .</p>
                        <hr>
                        <a href="{{ url_for('user.calculator') }}" class="btn btn-success btn-sm border rounded-pill card-link" role="button">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2" data-aos="fade-up" data-aos-delay="150">
                <div class="card text-center m-1 rounded-5 py-sm-4">
                    <div class="card-body"><img class="pt-2 w-50" src="{{ url_for('static', filename='assets/img/recycle.png') }}">
                        <h4 class="card-title">Sustanability Score</h4>
                        <h6 class="text-muted card-subtitle mb-2">Calculator</h6>
                        <p class="card-text">Calculate the impact of your actions, explore set custom sustainability goals, and track their progress.</p>
                        <hr><a class="btn btn-success btn-sm border rounded-pill card-link" role="button">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2" data-aos="fade-up" data-aos-delay="200">
                <div class="card text-center m-1 rounded-5 py-sm-4">
                    <div class="card-body"><img class="pt-2 w-50" src="{{ url_for('static', filename='assets/img/biodegradable.png') }}">
                        <h4 class="card-title">Personalized Tips</h4>
                        <h6 class="text-muted card-subtitle mb-2">Tips</h6>
                        <p class="card-text">Learn more about the impact. Get tailored suggestions to reduce your ecological footprint..</p>
                        <hr><a class="btn btn-success btn-sm border rounded-pill card-link" role="button">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2" data-aos="fade-up" data-aos-delay="250">
                <div class="card text-center m-1 rounded-5 py-sm-4">
                    <div class="card-body"><img class="pt-2 w-50" src="{{ url_for('static', filename='assets/img/nature-product.png') }}">
                        <h4 class="card-title">Interactive Impact Assessment</h4>
                        <h6 class="text-muted card-subtitle mb-2">Calculator</h6>
                        <p class="card-text">Calculate the impact of your actions, explore set custom sustainability goals, and track their progress.</p>
                        <hr><a class="btn btn-success btn-sm border rounded-pill card-link" role="button">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2" data-aos="fade-up" data-aos-delay="300">
                <div class="card text-center m-1 rounded-5 py-sm-4">
                    <div class="card-body"><img class="pt-2 w-50" src="{{ url_for('static', filename='assets/img/clouds-and-sun.png') }}">
                        <h4 class="card-title">Localized Weather Insights</h4>
                        <h6 class="text-muted card-subtitle mb-2">Weather</h6>
                        <p class="card-text">Receive personalized weather insight that are specific to your local environment and climate.</p>
                        <hr><a class="btn btn-success btn-sm border rounded-pill card-link" role="button">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2" data-aos="fade-up" data-aos-delay="350">
                <div class="card text-center m-1 rounded-5 py-sm-4">
                    <div class="card-body"><img class="pt-2 w-50" src="{{ url_for('static', filename='assets/img/earth.png') }}">
                        <h4 class="card-title">Participate in Eco Challenges</h4>
                        <h6 class="text-muted card-subtitle mb-2">Knowledge</h6>
                        <p class="card-text">Participate in challenges to make a positive impact, for sustainable living and&nbsp; connect with others.</p>
                        <hr><a class="btn btn-success btn-sm border rounded-pill card-link" role="button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End: Features: 2 Rows 1+3 Columns -->
    <!-- Start: Call to Action Banner Light -->
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-dark bg-dark border-0 border-light d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5" data-bss-hover-animate="bounce" id="call-to-action">
                <div class="pb-2 pb-lg-1">
                    <h1 class="display-2 fw-bold text-white mb-2" data-aos="fade-up" data-aos-delay="150">Ready to Start Your Eco-Friendly Journey?</h1>
                    <p class="fs-5 text-muted mb-0" data-aos="fade-up" data-aos-delay="200">Sign up today and take the first step toward a more sustainable lifestyle. Start tracking your carbon footprint and get personalized recommendations for a more sustainable lifestyle, <span style="color: rgb(255, 255, 255);">Eco</span><span style="color: rgb(40, 167, 69);">Guide</span> is here to help.</p>
                </div>
                <div class="text-center my-2">
                    <a class="btn btn-success fs-5 border rounded-pill py-2 px-4" role="button" href="#">Sign Up</a>
                </div>
            </div>
        </div>
    </section><!-- End: Call to Action Banner Light -->
    <!-- Start: Hire Me Section -->
    <div class="container py-4">
        <div class="row">
            <div class="col-md-8 py-5">
                <div class="card hire-card py-2">
                    <div class="card-body">
                        <h1 class="display-5 fw-bold card-title py-4">Transform Your Ideas into Reality with a Full Stack Developer</h1>
                        <p class="fs-5 card-text py-2">I'm a skilled Full Stack Software Developer ready for new opportunities. Let's connect!</p>
                        <a class="btn btn-outline-primary border rounded-pill px-3" role="button" href="https://wa.me/260976799292" target="_blank">Hire Me&nbsp; &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right fs-2">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-sm-inline d-xl-flex justify-content-xl-end py-5">
                <div class="d-flex d-sm-flex d-md-grid justify-content-center justify-content-sm-center">
                    <a class="btn btn-outline-primary border m-4" role="button" href="https://twitter.com/NYEMBAMARTIN" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a class="btn btn-outline-primary border m-4" role="button" href="https://linkedin.com/in/martin-chongo-chikaya" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a class="btn btn-outline-primary border m-4" role="button" href="https://github.com/martinnyemba" target="_blank"><i class="bi bi-github"></i></a>
                    <a class="btn btn-outline-primary border m-4" role="button" href="https://wa.me/260976799292" target="_blank"><i class="bi bi-whatsapp"></i></a></div>
            </div>
        </div>
    </div>
    <!-- End: Hire Me Section -->
{% endblock %}